<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="wrapper">
      <nav class="nav nav-left">
        <div class="nav-left pad-left">
          <a href="/" class="nav-item is-brand">
            <span class="is-64x64 inflex">
              <img src="/assets/tiy-logo.png" alt="The Iron Yard" />
            </span>
            {% if me %}
              <span class="tag is-danger"><small>{{ me.name }}</small></span>
            {% endif %}
          </a>
        </div>
        {% if me %}
          <div class="nav-right pad-right">
            <a href="/events" class="nav-item is-tab">Event List</a>
            <a href="/create" class="nav-item is-tab">Create Event</a>
            <a href="/guests" class="nav-item is-tab">Guest List</a>
            <a href="/stats" class="nav-item is-tab">Stats</a>
            <a href="/auth/logout" class="nav-item is-tab">Log Out</a>
          </div>
        {% else %}
          <div class="nav-right pad-right">
            <a href="/auth/login" class="nav-item"><i class="fa fa-lock"></i></a>
          </div>
        {% endif %}
      </nav>

      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
