<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XCourse</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="wrapper">
      <nav class="nav nav-left">
        <div class="nav-left pad-left">
          <a href="/" class="nav-item is-brand">
            XCourse
            {% if me %}
              - <span class="tag is-danger">{{ me.name }}</span>
            {% endif %}
          </a>
        </div>
        {% if me %}
          <div class="nav-right pad-right">
            <a href="/events" class="nav-item is-tab">All Events</a>
            <a href="/create" class="nav-item is-tab">Create Event</a>
            <a href="/stats" class="nav-item is-tab">Stats</a>
            <a href="/auth/logout" class="nav-item is-tab">Log Out</a>
          </div>
        {% else %}
          <div class="nav-right pad-right">
            <a href="/auth/login" class="nav-item is-tab">Log In</a>
          </div>
        {% endif %}
      </nav>

      <header>
        <img src="/assets/tiy-logo.png" alt="The Iron Yard" />
      </header>

      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Brought to you by <a href="http://theironyard.com">The Iron Yard</a></p>
      </div>
    </footer>

    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
