{% extends 'layout' %}

{% block content %}

<div class="text-centered control" ng-hide="vm.authed">
  <a href="{{ url }}" class="button google-login is-large" big>Google Login</a>
</div>

{% endblock %}
