{% extends 'layout' %}

{% block content %}

<div class="adminContainer">

  {% if empty %}
    <div class="notification is-warning text-centered">
      Sorry, there are no guests to export for that room.
    </div>
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Date</th>
        <th colspan="2">Tools</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
        <tr>
          <td>{{ room.class | classmap }}</td>
          <td>{{ room.date }}</td>
          <td><a href="/rooms/{{ room.id }}" class="button is-small is-link">View</a></td>
          <td><a href="/rooms/export/{{ room.id }}" class="button is-small is-dark">Export</a></td>
          {#<td><a href="/rooms/delete/{{ room.id }}" class="delete room-delete"></a></td>#}
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
