{% extends 'layout' %}

{% block content %}

{#<div class="notification is-warning text-centered" ng-show="vm.alert">
  Sorry, we couldn't log you in. Make sure this is coming from an `@theironyard.com` email address.
</div>#}

<div class="adminContainer">

  {#<div class="notification is-warning text-centered" ng-show="vm.noData">
    Sorry, there are no attendees for that room.
  </div>#}

  <div class="align-right pad-bottom">
    <a href="/rooms/new" class="button is-primary">Create New Event</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Date</th>
        <th colspan="2">Tools</th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms.toJSON() %}
        <tr>
          <td>{{ room.class | classmap }}</td>
          <td>{{ room.date }}</td>
          <td><a href="/rooms/{{ room.id }}" class="button is-small is-link">View</a></td>
          <td><a href="/rooms/export/{{ room.id }}" class="button is-small is-dark">Export</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
