{% extends 'layout' %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">Error</h1>
  </div>
</section>

<div class="notification is-warning text-centered">
  Sorry, you have to be a TIY employee to login. Maybe you should <a href="http://theironyard.com/jobs">work for us!</a>.
</div>

{% endblock %}
