{% extends 'layout' %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">{{ event.class | classmap }} Crash Course</h1>
    <h2 class="subtitle"><i class="fa fa-calendar-o"></i>{{ event.date }}</h2>
  </div>
</section>

<div class="columns">
  
  <div class="column course-description is-5">
    <div class="text">{{ event.desc | safe }}</div>
  </div>

  <div class="column is-7" ng-app="app" ng-controller="FirebaseController as vm">
    <nav class="panel">
      <p class="panel-heading">Chat Window</p>

      <div class="panel-block messages" ng-repeat="message in vm.messages">
        <span ng-bind-html="message.$value | linkify"></span>
        {% if me %}
          <button ng-click="vm.deleteMessage(message)" class="delete"></button>
        {% endif %}
      </div>

      
      <div class="panel-block">
        {% if me %}
        <form ng-submit="vm.addMessage(vm.message)">
          <p class="control">
            <input autocomplete="off" type="text" ng-model="vm.message" class="input" />
          </p>
        </form>
        {% endif %}
      </div>
      
    </nav>
  </div>

</div>

{% endblock %}
