{% extends 'layout' %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">{{ guest.name | capall }}</h1>
  </div>
</section>

<div class="adminContainer">

  <div class="card is-fullwidth">
    <div class="card-content">
      <div class="content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="{{ guest.email | gravatar }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>Email: <strong>{{ guest.email }}</strong></p>
              <p>This user has attended <strong>{{ events.length }}</strong> events.
            </div>
          </div>
        </article>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="mailto:{{guest.email}}">Click to Email</a>
    </footer>
  </div>

</div>


{% endblock %}
