<div class="notification is-warning text-centered" ng-show="vm.alert">
  Sorry, we couldn't log you in. Make sure this is coming from an `@theironyard.com` email address.
</div>

<div class="text-centered control" ng-hide="vm.authed">
  <a ng-href="{{ vm.googleURL }}" class="button google-login is-large" big>Google Login</a>
</div>

<div class="adminContainer" ng-show="vm.authed">

  <div class="tabContainer">
		<ul class="tabsList tabs">
		  <li ng-repeat="tab in vm.tabs" 
          ng-class="{'is-active':vm.isActiveTab(tab.url)}" 
          ng-click="vm.onClickTab(tab)">
        <a href="">{{ tab.title }}</a>
      </li>
		</ul>
    <row class="tabContent" ng-include="vm.tabContent"></row>
  </div>

</div>
