<column cols="12">

  <div class="notification is-warning text-centered" ng-show="vm.noData">
    Sorry, there are no attendees for that room.
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Date</th>
        <th colspan="2">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="room in vm.rooms">
        <td>{{ room.class | capname }}</td>
        <td>{{ room.date }}</td>
        <td><a href="/#/room/{{ room.roomID }}" class="button is-small is-link">View</a></td>
        <td><a href="/room/export/{{ room.id }}" class="button is-small is-dark">Export</td>
      </tr>
    </tbody>
  </table>
</column>
