<div class="alert alert-error" ng-show="vm.showUnregister">You need to register first.</div>
<div class="alert alert-error" ng-show="vm.noRoom">No Room Exists for that ID</div>
<div class="alert alert-error" ng-show="vm.showRoomAccess">Sorry, You only have access to <a href="/#/room/{{ vm.roomAccessible }}">this room</a>.</div>


<form class="forms form-container" ng-submit="vm.register(info, roomID)">
  <h2 class="title">Event Registration</h2>

  <p class="text-centered subtitle">Fill out the form below to view the lesson notes and to gain access to messages your instructor posts during the event.</p>

  <label class="label">Full Name <span class="req">*</span></label>
  <p class="control">
    <input class="input" type="text" ng-model="info.name">
  </p>
  <label class="label">Email Address<span class="req">*</span></label>
  <p class="control">
    <input class="input" type="email" ng-model="info.email">
  </p>
  <label class="label">Room ID <span class="req">*</span></label>
  <p class="label">
    <input class="input" type="text" ng-model="roomID" class="width-2">
  </p><br>
  <p class="control">
    <button class="button is-primary" class="btn">View Room</button>
  </p>
</form>
