{% extends 'layout' %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">Stats</h1>
  </div>
</section>

<div id="stats-container">

  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="subtitle">Events: <strong>{{ events.length }}</strong></p>
        <p class="subtitle">Guests: <strong>{{ guests.length }}</strong></p>
        <p class="subtitle">Unique Guests: <strong id="chart-2b"></strong></p>
      </div>
      <div class="tile is-child box">
        <p class="title">Highest Repeat</p>
        <aside class="menu">
          <ul class="menu-list" id="chart-2a"></ul>
        </aside>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Guests by Class</p>
        <canvas id="chart-1" width="520" height="300"></canvas>
      </div>
    </div>
  </div>

</div>

<script>
var bsStats = { events: {{ events | json | safe }}, guests: {{ guests | json | safe }}};
</script>

{% endblock %}
