{% extends 'layout' %}

{% block content %}

<div class="form-container">

  <h2 class="title">Event Registration</h2>

  <p class="text-centered subtitle">
    Please fill out the form below and choose the event you are attending.
  </p>

  {% if events.length > 0 %}
  {{ form.open({action: 'GuestController.store' }) }}

    <label class="label">Full Name:</label>
    <p class="control">
      <input class="input" type="text" name="name">
    </p>
    <label class="label">Email Address:</label>
    <p class="control">
      <input class="input" type="email" name="email">
    </p>

    <article class="message">
      <div class="message-header">Choose Event:</div>
      <div class="message-body">
        {% for event in events %}
        <p class="control">
          <label class="radio">
            <input type="radio" name="event" value="{{ event.id }}-{{ event.class }}">
            {{ event.class | classmap }} Crash Course - <small>{{ event.date }}</small>
          </label>
        </p>
        {% endfor %}
      </div>
    </article>

    <p class="control">
      <button class="button is-primary" class="btn">Join Event</button>
    </p>
  {{ form.close() }}
  {% else %}
    <div class="notification is-warning text-centered">
      Sorry, there are currently no events scheduled. Please check back later.
    </div>
  {% endif %}
</div>

{% endblock %}
