{% extends 'layout' %}

{% block content %}

<form class="forms form-container" ng-submit="vm.register(info, eventId)">
  <h2 class="title">Event Registration</h2>

  <p class="text-centered subtitle">
    Fill out the form below to view the lesson notes and to gain access<br> 
    to messages your instructor posts during the event.
  </p>

  <label class="label">Full Name <span class="req">*</span></label>
  <p class="control">
    <input class="input" type="text" ng-model="info.name">
  </p>
  <label class="label">Email Address<span class="req">*</span></label>
  <p class="control">
    <input class="input" type="email" ng-model="info.email">
  </p>
  <label class="label">Event ID <span class="req">*</span></label>
  <p class="label">
    <input class="input" type="text" ng-model="eventId" class="width-2">
  </p><br>
  <p class="control">
    <button class="button is-primary" class="btn">Join Event</button>
  </p>
</form>

{% endblock %}
